<p id="notice"><%= notice %></p>
<% @client = Client.find_by(params[:client_id]) %>
<div class="heading">
  <h1>
    Assessment of <%= @client.name + " " + @client.surname %>
  </h1>
  <h1>
    <%= @assessment.created_at.strftime("%a, %d %b %Y") %>
  </h1>
</div>

<div class="table-responsive col-md-8 col-md-offset-2">
  <table class="table table-striped table-bordered">
    <thead>
      <th class="col-md-4">Test</th>
      <th class="col-md-4">Value</th>
    </thead>
    <tbody>
      <tr>
        <td>Blood Pressure</td> 
        <td><%= @assessment.blood_pressure %></td>
      </tr>
      <tr>
        <td>Resting Pulse</td>
        <td><%= @assessment.resting_pulse %></td>
      </tr>
      <tr>
        <td>Bicep fat</td>
        <td><%= @assessment.fat_bicep %></td>
      </tr>
      <tr>
        <td>Tricep fat</td>
        <td><%= @assessment.fat_tricep %></td>
      </tr>
      <tr>
        <td>Subscab fat</td>
        <td><%= @assessment.fat_subscab %></td>
      </tr>
      <tr>
        <td>Iliac fat</td>
        <td><%= @assessment.fat_iliac %></td>
      </tr>
      <tr>
        <td>Thigh fat</td>
        <td><%= @assessment.fat_thigh %></td>
      </tr>
      <tr>
        <td>Total fat</td>
        <td><%= @assessment.fat_total %>%</td>
      </tr>
      <tr>
        <td>Weight</td>
        <td><%= @assessment.weight %></td>
      </tr>
      <tr>
        <td>Stretch test</td>
        <td><%= @assessment.stretch %>cm</td>
      </tr>
      <tr>
        <td>Step test</td>
        <td><%= @assessment.step_test_1 + " " + @assessment.step_test_2 + " " + @assessment.step_test_3 %></td>
      </tr>
      <tr>
        <td>Situps</td>
        <td><%= @assessment.fat_subscab %></td>
      </tr>
      <tr>
        <td>Pushups</td>
        <td><%= @assessment.fat_subscab %></td>
      </tr>
      
    </tbody>
  </table>
</div>

<div class="col-md-8 col-md-offset-2">
  <div class="col-md-4">
    <%= link_to 'Back', client_path(Client.find_by(params[:client_id])), class: "btn btn-primary btn-lg full-btn" %>
  </div>
  <div class="col-md-4">
    <%= link_to 'Edit', edit_assessment_path(@assessment), class: "btn btn-warning btn-lg full-btn" %>
  </div>
  <div class="col-md-4">
    <%= link_to 'Delete', assessment_path(@assessment), method: :delete, 
          data: { confirm: "Are you sure you want to delete the client?"}, class: "btn btn-lg btn-danger full-btn" %>  
  </div>
</div>
