<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trainer.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @trainer.surname %>
</p>

<p>
  <strong>Username:</strong>
  <%= @trainer.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @trainer.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @trainer.email %>
</p>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
